# Node.js
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/
.env.local
.env.*.local

# C#
# Build results
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Visual Studio Code
.vscode/
.vs/

# ASP.NET Core
wwwroot/
appsettings*.json

# Packages
*.nupkg
*.snupkg

# Project-specific
*.db
*.sqlite
*.pdb

# Dependency directories
packages/
.vs/
.DS_Store
