@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #fefefe;
  --clr-secondary: #212529;
  --clr-header: #006699;
  --clr-akcent: #d6d6d6;
  --clr-golden: #f5deb3;
  --clr-button: #0077b6;
  --gradient-primary: linear-gradient(
    145deg,
    var(--clr-button),
    var(--clr-primary) 100%
  );
  --gradient-secondary: linear-gradient(
    155deg,
    var(--clr-button) 0,
    var(--clr-secondary) 20%,
    var(--clr-secondary) 60%,
    var(--clr-button) 100%
  );
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-primary text-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  @apply text-header font-bold text-center;
}

/* Headers */
.header {
  @apply text-5xl md:text-7xl lg:text-8xl xl:text-9xl text-transparent bg-gradient-primary;
  /* -webkit-text-stroke: 0.1px var(--clr-button); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-header {
  @apply text-xl md:text-2xl lg:text-3xl;
}

.sub-header-secondary {
  @apply text-xl md:text-2xl lg:text-3xl text-primary;
}

/* Inputs */
.input {
  @apply w-full p-2 text-sm md:text-base rounded-lg outline-none bg-akcent transition-colors duration-300 ease-in-out focus:bg-primary focus:text-secondary;
}

.select {
  @apply py-1 px-2 rounded border-2 border-button bg-transparent transition-colors duration-300 ease-in-out hover:bg-button text-akcent hover:text-primary
  focus:bg-button focus:text-primary outline-none cursor-pointer min-w-min md:min-w-64 w-full;
}

.label {
  @apply absolute -top-3 left-3 bg-primary px-2 text-xs md:text-sm text-gray-600 rounded-2xl min-w-24;
}

.filter {
  @apply cursor-pointer transition-colors duration-300 ease-in-out rounded-lg p-2 flex-1 border border-slate-300 hover:bg-blue-400;
}

.filter-label {
  @apply block text-sm font-semibold text-gray-300 mb-1;
}

/* BTNs */
.btn {
  @apply rounded border-2 border-button cursor-pointer transition-colors duration-300 ease-in-out text-sm md:text-base lg:text-lg hover:drop-shadow-logo px-4;
}
.btn-primary {
  @apply text-primary bg-button hover:bg-primary hover:text-button py-2;
}
.btn-secondary {
  @apply text-button bg-primary hover:bg-button hover:text-primary;
}
.btn-provider {
  @apply p-2 flex-1 text-base text-primary bg-button border-none hover:bg-primary hover:text-button text-center flex justify-between items-center gap-2;
}
.btn-danger {
  @apply border-red-500 text-red-500 hover:bg-red-500 hover:text-white py-2;
}

.link {
  @apply font-bold rounded cursor-pointer transition-colors duration-300 ease-in-out hover:bg-button hover:text-primary hover:drop-shadow-logo py-2 px-4;
}

/* Underline */
.underline-custom {
  @apply relative py-2;
}
.underline-custom::before {
  content: "";
  @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-2 w-9/12 h-[2px] bg-secondary;
}

/* Overline */
.overline-custom {
  @apply relative py-2;
}

.overline-custom::before {
  content: "";
  @apply absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-2 w-9/12 h-[2px] bg-secondary;
}

/* Border radius animation */
.animated-rounded {
  @apply transition-all duration-300 ease-in-out;
  border-radius: 50%;
}
.animated-rounded:hover {
  border-radius: 10%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* szerokość dla pionowego scrollbar */
  height: 8px; /* wysokość dla poziomego scrollbar */
}

/* Tor (tło) scrollbara */
::-webkit-scrollbar-track {
  background: var(--clr-primary); /* kolor tła */
  border-radius: 10px; /* zaokrąglenie toru */
}

/* Sam uchwyt (rączka) scrollbara */
::-webkit-scrollbar-thumb {
  background: var(--clr-button);
  border-radius: 10px; /* zaokrąglenie rączki */
}

/* Hover nad uchwytem */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-akcent);
  cursor: pointer;
}
